* {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

ul {
    display: block;
}

body {
    height: 100%;
}

.wrapper {
    border: 2px blue solid;
}


/* Header */

.header {
    height: 140px;
    border: 2px green solid;
    display: flex;
    align-content: center;
    color: #000;
}

.logo{
    width: max-content;
    display: flex;
}

.navigation{
    width: 100%;
}
.navigation ul{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.navigation li {
    margin: 0 auto;
}


/* Content */

.content {
    border: 2px black solid;
    background-image: url("https://cdn.prod.website-files.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png");
    background-color: #161616;
}

.info{
}

/* Footer */

.footer {
    border: 2px gray solid;
}