{% extends 'layout.html' %}

{% block header %}
{% include 'header.html' %}
{% endblock header %}

{% block content %}
<div class="info">
    <div class="description">
        Konovalov Nikita - backend developer
    </div>
    <ol class="tags">
        <li><a href="{{ url_for('html_page') }}">Html</a></li>
        <li><a href="{{ url_for('css_page') }}">css</a></li>
        <li><a href="{{ url_for('js_page') }}">Python</a></li>
        <li><a href="{{ url_for('python_page') }}">JS</a></li>
        <li><a href="{{ url_for('flask_page') }}">Flask</a></li>
        <li><a href="{{ url_for('django_page') }}">Django</a></li>
    </ol>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
